@import 'colors';

/*
1.GENERAL STYLES
2.HEADER
  2.1.Menu
3.SECTIONS
  3.1.Section slider

*/

/*===============1.GENERAL STYLES=============*/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    overflow-x: hidden;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

h5{
    font-family: 'Raleway', sans-serif;
}

a{
    transition: all .3s;
}

.btn{
    border-radius: 50px;
    color: #fff !important;
    padding: 1rem 2rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all .3s;
    text-transform: uppercase;
    

    &-primary{
        background: rgba(65,95,203,1);
        background: -moz-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,95,203,1)), color-stop(100%, rgba(75,132,196,1)));
        background: -webkit-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%);
        background: -o-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%);
        background: -ms-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%);
        background: linear-gradient(to right, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415fcb', endColorstr='#4b84c4', GradientType=1 );
    }

    &-secondary{
        background: rgba(134,65,203,1);
        background: -moz-linear-gradient(left, rgba(134,65,203,1) 0%, rgba(196,75,116,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,65,203,1)), color-stop(100%, rgba(196,75,116,1)));
        background: -webkit-linear-gradient(left, rgba(134,65,203,1) 0%, rgba(196,75,116,1) 100%);
        background: -o-linear-gradient(left, rgba(134,65,203,1) 0%, rgba(196,75,116,1) 100%);
        background: -ms-linear-gradient(left, rgba(134,65,203,1) 0%, rgba(196,75,116,1) 100%);
        background: linear-gradient(to right, rgba(134,65,203,1) 0%, rgba(196,75,116,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8641cb', endColorstr='#c44b74', GradientType=1 );
    }

    &:hover {
        opacity: .6;
    }
}

.link{
    &:hover{
        text-decoration: none;
    }
}

.form-control{
    border-radius: 50px;
    padding: 1.5rem;
    border: none;

    &::placeholder{
        color: $blue-dark !important;
        font-size: .9rem !important;
        font-weight: bold;
    }
}



.owl-carousel{

    .item{
        height: 100%;
        position: relative;

        .caption{
            position: absolute;
            transform: scale(.5);
            top: 0;
            font-size: 4rem;
            width: 100%;
            background-color: rgba(white , .8);
            right: 0;
            padding: 0 2rem;
            font-family: 'Montserrat', sans-serif;
            line-height: 5rem;
            color: $blue-dark;

            .heading{
                text-transform: uppercase;
                font-weight: 700;
                
            }
        }
    }
    .owl-nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0 2rem;
        color: #fff;
        font-size: 2rem;

        .owl-prev, .owl-next{
            width: 60px;
            border-radius: 50px;
            background: rgba(65,95,203,1) !important;
            background: -moz-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%) !important;
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,95,203,1)), color-stop(100%, rgba(75,132,196,1))) !important;
            background: -webkit-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%) !important;
            background: -o-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%) !important;
            background: -ms-linear-gradient(left, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%) !important;
            background: linear-gradient(to right, rgba(65,95,203,1) 0%, rgba(75,132,196,1) 100%) !important;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#415fcb', endColorstr='#4b84c4', GradientType=1 ) !important;

            transition: all .3s;

            &:hover, &.disabled{
                opacity: .6;
            }
        }
    }

    .owl-dots{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .owl-dot{
            width: 15px;
            height: 15px;
            border: 2px solid $blue-light;
            margin: 1rem .3rem;
            border-radius: 50%;
            &.active{
                background-color: $blue-light;
            }
        }
    }
}

.section{
    padding: 6rem 0;
    
    .title{
        font-weight: 500;
    }

    &.interior{
        padding-top: 10rem;
    }

    &.gray{
        background: #f2f2f2;
    }

    &.light{
        .title{
            color: $blue-light;
        }

        color: $text-gray-light;
    }

    &.dark{
        color: #fff;

        .owl-dot{
            border-color: #fff;
            &.active{
                background-color: #fff;
            }
        }
    }
    .items{
        margin-top: 5rem;
    }

    &.blue-light{
        background: $blue-light;
    }

    &.blue-dark{
        background: $blue-dark;
    }
}

.text-bold{
    font-weight: 600;
}

.text-bigger{
    font-size: 3.5rem;
}

.resize{
    transform: scale(1.5) !important;
    z-index: 3;
}

.link{
    font-weight: 600;
}

.card{
    border: none;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.30);
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.30);
    border-radius: 0;
    z-index: 1;
}

.t-down-left{
    transform: translate(-80px,80px) !important;
    z-index: 0;
}

.t-down-right{
    transform: translate(80px,80px) !important;
    z-index: 0;
}

.space-5{
    margin: 5rem 0;
}

.space-3{
    margin: 3rem 0;
}


.back-to-top{
    position: fixed;
    bottom: 7rem;
    right: 1.5rem;
    display: none;
    z-index: 10000;
    
    a{
        width: 50px;
        height: 50px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #C44B74;
        color: #fff;
        border-radius: 50%;

        &:hover{
            text-decoration: none;
        }
    }

}

.btn-whatsapp{
    position: fixed;
    bottom: 11rem;
    right: 1.5rem;

    a{
        width: 50px;
        height: 50px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1EBEA5;
        color: #fff;
        border-radius: 50%;

        &:hover{
            text-decoration: none;
        }
    }
}
/*===============2.HEADER=============*/

.header-default{
    width: 100%;
    z-index: 3;
    padding: 0 2rem;
    background-color: $bg_opacity;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
    position: fixed;

    .nav-brand-theme{
        width: 60%;
        transition: all .3s;
    }
}

//Header secondary
.header-default.secondary{
    position: relative;
    background-color: $blue-dark;

    .nav-link{
        color: #fff;

        &:hover{
            color: $blue-light;
        }
    }

    .nav-brand-theme{
        padding-top: .5rem;
    }
}

.header-sticky{
    .nav-brand-theme{
        width: 50%;
    }
}

.error-header{
    position: relative;
}

//2.1.Menu
.nav{
    .nav-link{
        font-family: 'Montserrat', sans-serif;
        color: $text-gray;
        font-weight: 600;

        &:hover, &.active{
            color: $blue-light;
        }
    }
}

#inicia-sesion{
    display: none;
}

.container-toggle{
    display: none;
}

/*===============3.SECTIONS=============*/

//3.1.Section slider
.owl-slider-home{
    height: 760px;
    overflow: hidden;

    .item{
        .caption{
            height: 760px;
        }
    }

    .owl-dots{
        position: absolute;
        bottom: 3rem;
    }
}

//Slider screenshots
.owl-testimonial{
    padding: 0 5rem;

    .desc{
        .name-client{
            font-size: 1rem;
            font-weight: bold;
        }
        
        .fa-quote-right{
            font-size: 2rem;
            color: $blue-dark;
        }
    }

    .owl-dots{
        margin-top: 2rem;
    }
}


/*=================FOOTER=================*/
.footer{
    padding: 3rem 0;
    background: #192139;
    color: #fff;

    .register-nav{
        .link{
            margin-right: 2rem;
        }
    }

    .nav-link{
        line-height: 10px;
        color: #fff;
        font-weight: normal;
    }

    .social-nav{
        margin-bottom: 2rem;
        .nav-link{
            font-size: 1.5rem;
        }
    }

    h4{
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 1rem;
    }

    .contacto, .legal{
        .nav-link{
            padding-left: 0;

            i{
                padding-right: 5px;
            }
        }
    }

    .legal{
        .nav{
            list-style: circle;
        }
    }

    .thumbnail-blog{
        border: 1px solid #fff;
        
        a:hover{
            opacity: .6;
        }
    }

    hr{
        border: .4px solid #ccc;
    }
}

//PAGES

.column-extend {
    .heading-form{
        font-size: 2.5rem;
        font-weight: bold;
        color: $blue-dark;
        line-height: 1.5rem;
    }

    .subheading-form{
        font-size: 1.2rem;
    }

    .border-form{
        padding: 2rem 4rem;
    }
}

.border-form{
    .form-control{
        border: 2px solid $blue-dark;
    }
}

/*About*/

.hero{
    position: relative;
    height: 700px;
    overflow: hidden;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: .5);
        top: 0;
        left: 0;
        z-index: 1;
    }
    .caption-hero{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .container-img{
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 50%; 
        }

        h1{
            color: #fff;
        }
    }
}

/*BLOG*/

.date{
    font-family: 'Montserrat',sans-serif;
    color: $blue-light;
    font-weight: bold;
}

.blog-article .title{
    font-weight: bold;
}

/*404*/

.one-section{
    padding: 7rem 0;
    padding-top: 12rem;
    height: 750px;
    .error{
        font-size: 7rem;
        font-family: 'Montserrat', sans-serif;
        color: $blue-light;
    }

    .msj-error{
        font-size: 2rem;
    }
    p{
        color: $text-gray;
    }
}

/*======================RESPONSIVE STYLES================================*/

@import 'responsive';

